@import './base.css';
@import "@mdi/font/css/materialdesignicons.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import '@vuepic/vue-datepicker/dist/main.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}
